*{
    margin: 0;
    padding: 0;
}
.body{
    background: lightgrey;
    background-image: url(usal.png);
    background-repeat: no-repeat;
    background-position: left center;
    height: 700px;
}
.sesion{
    display: block;
    margin: 140px auto;
    height: 320px;
    width: 400px;
    background-color: white;
    border: 2px black solid;
    border-radius: 6px;
    box-shadow: 2px 2px 7px 1px black;
}
.sesion input{
    outline: 1px solid black;
    display: block;
    margin: 10px 0px 22px 4px;
    height: 30px;
    width: 387px;
}
#inicia{
    margin: 10px 0px 10px 130px;
}
#nombre{
    margin-left: 3px;
    font-family: 'Cinzel', serif;
}
#contraseña{
    margin-left: 3px;
    font-family: 'Source Serif Pro';
}
#submit{
    display: block;
    margin-top: 43px;
    margin-left: 149px;
    width: 90px;
    height: 20px;
}
#submit:hover{
    background: lightgrey;
    border: 1px black solid;
    border-radius: 2px;
}