* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../img/logo-usal.png'), linear-gradient(90deg,green,black);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 140%;
    backdrop-filter: blur(10px);
    
}

.form-register{
    display: block;
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;

}

#terms{
    display: inline-block;
    padding-left: 7px;
    font-size: 17px;
}

.controls {
    width: 300px;
    background-color: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid  #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;

}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register a {
    color: white;
    text-decoration: underline;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.botons {
    box-shadow: 7px 5px 37px #000;
}