*{
    padding: 0;
    margin: 0;
}
.header{
    display: block;
    background-image: url('../img/verde.png');
    background-size: cover;
    color: white;
}
#logo{
    display: inline;
    height: 140px;
    width: 140px;
    border: 2px solid black;
    box-sizing: border-box;
}
#titulo{
    display: inline;
    margin-left: 360px;
    font-family: 'Source Serif Pro', serif;
    text-shadow: 5px 5px 5px black;
}
.body{
    background-image: url('../img/fondo.jpg');
    background-attachment: fixed;
}
.contenido{
    display: inline-block;
    margin: 0px 300px 0px 300px;
    background: white;
    outline:2px solid black;
}
.texto{
    padding: 30px 0px 40px 5px;
    line-height: 0.8;
    font-weight: 450;
}
.texto h2{
    font-family: 'Source Serif Pro', serif;
    font-size: 35px;
}
.texto p{
    font-family: 'Source Serif Pro', oblique;
    font-style: italic;
    font-size: 20px;
}

.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background: #283c86;
    background: -webkit-linear-gradient(to right, #45a247, #283c86);
    background: linear-gradient(to right, #45a2474b, #283c8654),url('../img/verde.png');
    background-size: cover;
    width: 317px;
    height: 490px;
    border: 7px double black;
    border-radius: 25px;
 }
.calculadora td button{
    width: 64px;
    height: 64px;
    font-size: 25px;
    border: 3px solid black;
    box-shadow: 1px 1px 2px 1px black;
    border-radius: 6px;
}
.calculadora td button:focus{   
    border: solid 1px black;
    box-shadow: none;
    background: black;
    color: white;
}
#resultado{
    display:block;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    width: 265px;
    height: 110px;
    line-height: 75px;
    background: white;
    border: 3px solid black;
    border-radius: 10px;
    overflow-y: hidden;
}
#descripcion{
    margin: 70px 0px 20px 0px;
    padding: 10px;
}
.footer{
    display: block;
    padding: 15px;
    background-image: url('../img/verde.png');
    background-size: cover;
    color: white;
}
.ig a{
    font-size: 10px;
    color: white;
}
.ig a:hover{
    color: blue;
}
.ig a:visited{
    color: grey;
}
.ig:active{
    color: lightblue;
}
.ig img{
    height: 15px;
    width: 15px;
}