.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: grey;
    width: 300px;
    height: 500px;
    border-radius: 25px;
<<<<<<< HEAD
}
=======
}
.calculadora td button
>>>>>>> 70d289d6ddd85672224d19eae61d7f9a2992a384
