<<<<<<< HEAD
.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: grey;
    width: 300px;
    height: 500px;
    border-radius: 25px;
}
=======
.calculadora {
    background-color: red;
}
>>>>>>> 78615f780f1b96c23dccf6c5506c81aa8560f64e
